*{
    padding: 10x;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', cursive;
    height: 100vh;
    background: rgb(12, 12, 12);
    background: radial-gradient(circle, rgb(208, 165, 228) 0%, rgb(10, 10, 10) 100%);
    font-size: 22px;
    position: relative;
}
h1{
    background-color: rgba(179, 96, 161, 0.884);
    padding: 10px 0;
    font-size: 28px;
    border-radius: 18px;
    border: 1px solid #000000;
  text-align:center;
}
form{
  text-align:center;
  width:100%;
  border:1px #000 solid;
}
input,select{
  width:800px;
  padding:10px;
  margin:10px; 
  border:3px #000 solid
}
button
{
  width:500px;
 font-weight: 1000;
  font-size:20px;
  background:radial-gradient(circle, rgb(92, 94, 94) 0%, rgb(59, 55, 55) 100%);
border:3px #000 solid
}